{{#each results}}
  <li class='swiper-slide expected-movies-item'>
    <div class='img-container'>
      <img
        class='expected-img'
        src='https://image.tmdb.org/t/p/w500/{{poster_path}}'
        alt='{{title}}'
      />
    </div>
    <div class='expected-info'>
      <h2 class='expected-title-modal'>{{title}}</h2>
      <p class='expected-review'>{{overview}}</p>
      <p class='expected-relese'>{{release_date}}</p>
      <p class='expected-popularity'>{{popularity}}</p>
      <div class='expected-btn-wrapper'>
        <button
          class='expected-btn'
          type='button'
          data-id='{{id}}'
          id='open'
        >Add to watched</button>
      </div>
    </div>
  </li>
{{/each}}