<div class='modal'>
  <div class='modal-wrapper'>
    <div class='img-container'>
      <img
        class='modal-img'
        src='https://image.tmdb.org/t/p/w500/{{poster_path}}'
        alt='{{title}}'
        data-id='{{id}}'
      />
    </div>
    <div class='modal-info'>
      <h2 class='modal-title'>{{title}}</h2>
      <p class='modal-ganre'>Genre:
        {{#each genres}}
          <span class='sub-genre'>{{this.name}}</span>
        {{/each}}
      </p>
      <p class='modal-review'>{{overview}}</p>
      <p class='modal-relese'>{{release_date}}</p>
      <p class='modal-popularity'>{{popularity}}</p>
      <div class='moda-btn-wrapper'>
        <button class='modal-btn' type='button' data-id='{{id}}' id='open'>Add
          to watched</button>
      </div>
    </div>
  </div>
</div>